<style>
  .social-icons a {
    color: black;
  }
</style>

<ul class='list-inline social-icons' >
  <li class='list-inline-item'>
    <a target="_blank" data-toggle="tooltip" title="Linkedin"
                                             href="https://www.linkedin.com/in/marcos-bellucci-fratti-76b07918/?locale=en_US">
      <i class="fa fa-2x fa-linkedin"></i>
    </a>
  </li>

  <li class='list-inline-item'>
    <a target="_blank" data-toggle="tooltip" title="Dev.to"
                                             href="https://dev.to/delbetu">
      <img class="invert-svg-color fix-margin" style='margin-bottom: 10px;'
           src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg"
           alt="M Bellucci's DEV Profile" height="28" width="24" />
    </a>
  </li>

  <li class='list-inline-item'>
    <a target="_blank" data-toggle="tooltip" title="Twitter"
                                             href="https://twitter.com/delbetu" >
                                             <i class="fa fa-2x fa-twitter"></i>
    </a>
  </li>

  <li class='list-inline-item'>
    <a target="_blank" data-toggle="tooltip" title="Github"
                                             href="https://github.com/delbetu">
      <i class="fa fa-2x fa-github"></i>
    </a>
  </li>

  <li class='list-inline-item'>
    <a target="_blank" data-toggle="tooltip" title="Meetup"
                                             href="http://www.meetup.com/es-ES/members/87421642/">
      <i class="fa fa-2x fa-meetup"></i>
    </a>
  </li>
</ul>
