.full-screen
  height: 100vh

@media screen and (max-width: 350px)
  .full-screen
    height: 630px

#presentation-card
  background-color: $my_base02
  padding: 2em
  text-align: center
  .row
    margin-top: 2em
  h1
    padding: 1em
    color: $my_yellow
    font-family: 'Oswald'
    font-size: 2em
  p
    color: $my_base3
    font-family: 'Ubuntu'
    font-size: 20px
  .social-icons
    a:link, a:visited, a:hover, a:active
      text-decoration: none
      color: $my_base3
      padding: 1em
  .hire-me
    color: $my_magneta
    font-size: 1.7em
    font-weight: bold
    text-decoration: none
