#presentation-card {
  background-color: #073642;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 400px;

  padding: 2em;

  box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.8);
  border-radius: 9px;
}

#presentation-card h1 {
  padding: 1em;
  text-align: center;
  color: #b58900;
  font-family: 'Oswald';
  font-size: 2em;
}

#presentation-card p {
  color: #fdf6e3;
  font-family: 'Ubuntu';
}

#presentation-card ul.social-icons {
  list-style-type: none;
}

#presentation-card ul.social-icons li {
  padding: 2em 0px;
  margin: 10px;
  display: inline;
  float: left;
}

#presentation-card .hire-me {
  position: absolute;
  top: 28px;
  right: 1px;
  color: #d33682;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#contact-form {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  border: solid;
  background: #6c71c4;
  border-radius: 19px;
  padding: 20px;
  color: #fdf6e3;
  min-width: 100px;
}

#contact-form label, #contact-form textarea {
  margin: 10px;
  display: block;
}

#contact-form .row label {
  display: inline-block;
  width: 20%;
  text-align: right;
}

#contact-form .submit {
	background-color: #2aa198;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
  color: #fdf6e3;
	font-family:Arial;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin: 9px 30px -7px 199px;
}

#contact-form .submit:hover {
	background-color:#859900;
}

#contact-form .submit:active {
	position:relative;
	top:1px;
}
